<head><link rel="stylesheet" href="/style.css"></head>


<h1>Tâches</h1> 
<ul>
  <% tasks.forEach(task => { %>  
    <li> 
      <%= task.title %> - 
      <% if (task.done) { %> 
        <span class="done">DONE</span> 
      <% } else { %> 
        <span class="not-done">NOT DONE</span> 
      <% } %>   
    </li>  
  <% }) %>  
</ul>  
<a href="/">Retour à l'accueil</a>
